@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --cor-fundo: #f9f9f9;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

::-webkit-scrollbar {
  width: 6px; 
}

::-webkit-scrollbar-track {
  background: #001e4a3d; 
}

::-webkit-scrollbar-thumb {
  background: #c9c9c9; 
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}